body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-areas: 
        "header header "
        "section aside"
        "footer footer";
    grid-gap: 10px;
    background-color: grey;
    padding: 10px;
}

header {
    grid-area: header;
    border: black 2px solid;

    display: grid;
    grid-template-areas:
    "link1 links links links link5";
    grid-gap: 10px;
    padding: 10px;  
    border: black 2px solid;  
    align-items: center;
    justify-items: center;
}

section {
    grid-area: section;
    border: black 2px solid;
    background-color: darkgreen;
}

aside {
    grid-area: aside;
    border: black 2px solid;
    background-color: yellow;
}

footer {
    grid-area: footer;
    border: black 2px solid;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    text-align: center;
}

#stylenone {
    list-style-type: none;
    grid-area: links;
    border: black 2px;
}

#stylenone > li {
float: left;
border: black 2px solid;
padding: 5px;
background-color: blanchedalmond;
width: 30%;
}

header > h1 {
    grid-area: link1;
    background-color: blueviolet;
    color: black;
    border: black 2px solid;
    /* width: 150px; */
}

.link5 {
    grid-area: link5;
    background-color: blueviolet;
    color: black;
    border: black 2px solid;
    width: 100%;
}

#leftbar {
    background-color: teal;

    display: grid;
    grid-template-areas: 
    "h3 h3 h3 h3"
    "p p p p"
    "leftbar1 leftbar1 leftbar2 leftbar2"
    "leftbar1 leftbar1 leftbar2 leftbar2";
    grid-template-rows: 1fr 1fr 3fr 3fr;
}

#h3 {
    grid-area: h3;
    border: black solid 2px;
    padding: 5px;
    margin: 5px;
}

#p {
    grid-area: p;
    border: solid 2px black;
    padding: 5px;
    margin: 5px
}

#leftbar1 {
    grid-area: leftbar1;
    background-color: cadetblue;
    padding: 5px;
    margin: 5px
}

#leftbar2 {
    grid-area: leftbar2;
    background-color: darkblue;
    padding: 5px;
    margin: 5px;
}

#img {
    height: 200px;
    width: auto;
}

