body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-areas: 
        "header"
        "section"
        "footer";
    grid-gap: 10px;
    background-color: grey;
    padding: 10px;
}

header {
    grid-area: header;
    border: black 2px solid;
}

section {
    grid-area: section;
    border: black 2px solid;
    background-color: darkgreen;
}

footer {
    grid-area: footer;
    border: black 2px solid;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    text-align: center;
}

.headcontent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "link1 link2 link3 link4 . link5";

    /* <-- why not working to horizontal --> */

    grid-gap: 10px;
    padding: 10px;  
    border: black 2px solid;  
}

#uppercase {
    text-transform: uppercase;
}

#stylenone {
    list-style-type: none;
}

.link1 {
    grid-area: link1;
    background-color: blueviolet;
    color: black;
    border: black 2px solid;
    /* width: 150px; */
}

.link2 {
    grid-area: link2;
    background-color: yellow;
    color: black;
    border: black 2px solid;
}

.link3 {
    grid-area: link3;
    background-color: blueviolet;
    color: black;
    border: black 2px solid;
}

.link4 {
    grid-area: link4;
    background-color: yellow;
    color: black;
    border: black 2px solid;
}

.link5 {
    grid-area: link5;
    background-color: blueviolet;
    color: black;
    border: black 2px solid;
}

.midsection {
    display: grid;
    grid-template-areas: 
    ". login ."
    ". outerbox .";
}

.login {
    grid-area: login;
    border: black solid 2px;
    background-color: brown;
    padding: 20px;
    width: 20%;
    margin-left: 300px;
    /* background-position-x: 200px; */
}

.outerbox {
    grid-area: outerbox;
    border-radius: 20px;
    border: black solid 2px;
    background-color: burlywood;
    padding: 20px;
    width: 40%;
    margin-left: 300px;
    margin-bottom: 30px;

    display: grid;
    grid-template-areas: 
    ". enter ."
    ". enter ."
    ". button ."
    ". button .";
    align-content: center;
    /* why not vertical */
}

.enter {
    grid-area: enter;
    margin: 10px;
    border: 2px solid black;
}

.button {
    grid-area: button;
    margin: 10px;
    border: 2px solid black;
    transition-duration: 0.4ms;
}

.button:hover {
    color: black;
    background-color: chocolate;
}